<h5>Word defined</h5>


<h1><%= @word.dictionary_word %></h1>


<ul>
  <% @dictionary_word_definition.each do |word| %>
    <li><a href="/vehicles/<%= word.id() %>"><%= word.dictionary_word_definition() %></a></li>
  <% end %>
</ul>

<form action="/word" method="post">
  <div class="form-group">
    <br>
    <input name="dictionary_word" class="form-control" type="hidden" value="<%= @word.id %>">
    <br>
    <label for="dictionary_word_definition">Now write what that words means to you!</label>
    <input name="dictionary_word_definition" class="form-control" type="text" placeholder="Type in the definition right here!">
  </div>
  <hr>
  <p>After youve wrote your dictionary word. Click the green button to add it to your dictionary!
  or click the blue button to look at all the words you've defined!</p>
  <button type="submit" class="btn btn-success">Add the Word!</button>

  <button href="/allwords" class="btn btn-info">See Your Dictionary!</button>


</form>



<a href="/">Return to Main Page</a>
